.navbar-inverse {
  background-color: #EB540A!important;
  border-color: #EB540A!important;
}

.navbar-brand{
	color:white!important;
}
body {
  padding-top: 50px;
}
#googlemaps { 
	margin-top: 50px;
    width: 100%;
    height: 100%;
    position: fixed!important;
    top: 0;
    left: 0;
    z-index: 0;
}

.container-fluid{
	position: relative;
	min-height: 500px;
	max-height: 500px;
}
